body {
  background-color: #c0d9e9; 
  font-family: Arial, sans-serif;
  margin: 0; 
}


.profile-card {
  width: 80%;
  margin: 20px auto; 
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
}


.profile-card img {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  border: 4px solid #3498db; 
  display: block; 
  margin: 0 auto 20px auto; 
}


.profile-card h2 {
  color: #2c3e50; 
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  margin-bottom: 5px; 
  text-align: center;
}


.job-title-text {
  text-align: center;
  display: block; 
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 300; 
  color: #7f8c8d; 
  margin-bottom: 30px; 
}


.profile-card table {
  width: 100%; 
  border-collapse: collapse; 
}

.profile-card td {
  vertical-align: top; 
  padding: 10px; 
}

#about {
 
  border: 2px solid #150547;  
  padding: 15px; 
  border-radius: 8px;
}


.profile-card td form {
  border: 10px solid #ccc;
  padding: 20px;
  

}


body.dark-mode {
  background-color: #121212;
  color: white;
}

